@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap");

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 50px;
  background: #0077c2;
}

.content {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100vw;
  height: calc(100vh - 50px);
  background: #42a5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}

.vertical {
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  font-size: 30px;
  background: #80d6ff;
  padding: 10px;
  border-radius: 10px;
}

* {
  font-family: "Baloo Chettan 2", cursive;
}
